# ============================================
# Synaptic Room — Global Environment (Docker)
# ============================================
# This file is used by docker-compose.yml to 
# inject keys into all the containers.

# Supabase (From Server)
SUPABASE_URL=https://fvgxjksiwyqohanfjwqg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZ2Z3hqa3Npd3lxb2hhbmZqd3FnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI0OTM0MzQsImV4cCI6MjA5ODA2OTQzNH0.Qlvvo43nnLU9hZv1q3CKHDhxtqREALdYcFx2dU-SwaM

# Gemini API (From Agents)
# REEMPLAZA ESTO CON LA KEY DE DIEGO PARA PODER CORRER EL DOCKER
GEMINI_API_KEY=tu_api_key_aqui
